.loading-01 {
    animation: animation-01 1.5s linear infinite;
    background: linear-gradient(
      to right,
      var(--grey) 0%,
      transparent 48%,
      transparent 52%,
      var(--grey) 100%
    );
    background-size: 500px 640px;
    position: relative;
  }
  
  @keyframes animation-01 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 500px 0;
    }
  }
  
  .transparentTxt-01 {
    color: transparent;
  }
  
  .focusNuclearButton-01:focus {
    box-shadow: 0 0 0 0.25px var(--redAlt);
  }
  
  .focusAction-01:focus {
    color: var(--purple);
  }
  
  .hoverToggleBtn-01:hover + .hoverToggleElement-01 {
    opacity: 1;
  }
  
  .hoverToggleElement-01 {
    opacity: 0;
  }
.hoverIconPurple-01:hover * {
    fill: var(--purpleFillAlt);
  }
  
  .menuIcon-01:hover .menuDot-01 {
    background-color: var(--purpleFillAlt);
  }

/* INPUTS */

input::placeholder,
textarea::placeholder {
  color: var(--textMinimal);
}

input[type='datetime-local']::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.7;
  width: 16px;
  height: 16px;
}

/* SWITCH COMPONENT */

.switchContainer-01 {
  display: inline-flex;
  align-items: center;
}

.switchInput-01:not([disabled]) {
  cursor: pointer;
}

.switchInput-01 + .switch-01 {
  border-radius: 1000px;
  cursor: pointer;
  border: solid 1px transparent;
  transition: background-color 0.2s;
  width: 36px;
  height: 2px;
  background-color: var(--detailMinimal);
}

.switchInput-01 + .switch-01 > .switchCursor-01 {
  border-radius: inherit;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 0.5);
  transition-duration: 0.2s;
  transition-property: transform background-color;
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-left: -2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.95);
  background: var(--detailMinimal);
}

.switchInput-01:hover + .switch-01,
.switchInput-01:hover + .switch-01 > .switchCursor-01 {
  background: var(--detailNeutral);
}

.switchInput-01:checked + .switch-01 {
  background-color: var(--tealFill);
}

.switchInput-01:checked:hover + .switch-01 > .switchCursor-01,
.switchInput-01:checked:hover + .switch-01 {
  background-color: var(--tealFillAlt);
}

.switchInput-01:checked + .switch-01 > .switchCursor-01 {
  transform: translateX(26px);
  background: var(--tealFill);
}

/* CHECKBOX COMPONENT */

.checkInput-01 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border: solid 1px var(--detailMinimal);
  transition: border 0.15s ease-in-out;
}

.checkInput-01:hover:not(disabled):not(checked) {
  border: solid 1px var(--detailNeutral);
}
.checkInput-01:hover:checked {
  border: solid 1px var(--tealFillAlt);
}
.checkInput-01:checked {
  border: solid 1px var(--tealFill);
  transition: border 0.15s ease-in-out;
}

.checkedDot-01 {
  background-color: none;
  transition: background-color 0.15s ease-in-out;
  width: 7.5px;
  height: 7.5px;
}

.checkInput-01:checked:hover + .checkedDot-01 {
  background-color: var(--tealFillAlt);
}

.checkInput-01:checked + .checkedDot-01 {
  background-color: var(--tealFill);
  transition: background-color 0.15s ease-in-out;
}

/* SELECT COMPONENT */

.focus-01:focus,
.focus-01:focus-within {
  background-color: var(--bgLevel4);
}

.hiddenSelect-01 {
  border: none;
  -webkit-appearance: none;
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.focusOption-01:focus,
.focusOption-01:focus-within {
  background: var(--black);
}

.ribbonToInput-01 {
  width: 125px;
}
.ribbonToInput-01::placeholder {
  color: var(--textNeutral) !important;
}

.whitePlaceholder-01::placeholder {
  color: var(--textNeutral);
  opacity: 1;
}

/* INPUTS */

input::placeholder,
textarea::placeholder {
  color: var(--textMinimal);
}

input[type='datetime-local']::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.7;
  width: 16px;
  height: 16px;
}

/* SWITCH COMPONENT */

.switchContainer-01 {
  display: inline-flex;
  align-items: center;
}

.switchInput-01:not([disabled]) {
  cursor: pointer;
}

.switchInput-01 + .switch-01 {
  border-radius: 1000px;
  cursor: pointer;
  border: solid 1px transparent;
  transition: background-color 0.2s;
  width: 36px;
  height: 2px;
  background-color: var(--detailMinimal);
}

.switchInput-01 + .switch-01 > .switchCursor-01 {
  border-radius: inherit;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 0.5);
  transition-duration: 0.2s;
  transition-property: transform background-color;
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-left: -2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.95);
  background: var(--detailMinimal);
}

.switchInput-01:hover + .switch-01,
.switchInput-01:hover + .switch-01 > .switchCursor-01 {
  background: var(--detailNeutral);
}

.switchInput-01:checked + .switch-01 {
  background-color: var(--tealFill);
}

.switchInput-01:checked:hover + .switch-01 > .switchCursor-01,
.switchInput-01:checked:hover + .switch-01 {
  background-color: var(--tealFillAlt);
}

.switchInput-01:checked + .switch-01 > .switchCursor-01 {
  transform: translateX(26px);
  background: var(--tealFill);
}

/* CHECKBOX COMPONENT */

.checkInput-01 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border: solid 1px var(--detailMinimal);
  transition: border 0.15s ease-in-out;
}

.checkInput-01:hover:not(disabled):not(checked) {
  border: solid 1px var(--detailNeutral);
}
.checkInput-01:hover:checked {
  border: solid 1px var(--tealFillAlt);
}
.checkInput-01:checked {
  border: solid 1px var(--tealFill);
  transition: border 0.15s ease-in-out;
}

.checkedDot-01 {
  background-color: none;
  transition: background-color 0.15s ease-in-out;
  width: 7.5px;
  height: 7.5px;
}

.checkInput-01:checked:hover + .checkedDot-01 {
  background-color: var(--tealFillAlt);
}

.checkInput-01:checked + .checkedDot-01 {
  background-color: var(--tealFill);
  transition: background-color 0.15s ease-in-out;
}

/* SELECT COMPONENT */

.focus-01:focus,
.focus-01:focus-within {
  background-color: var(--bgLevel4);
}

.hiddenSelect-01 {
  border: none;
  -webkit-appearance: none;
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.focusOption-01:focus,
.focusOption-01:focus-within {
  background: var(--black);
}

.ribbonToInput-01 {
  width: 125px;
}
.ribbonToInput-01::placeholder {
  color: var(--textNeutral) !important;
}

.whitePlaceholder-01::placeholder {
  color: var(--textNeutral);
  opacity: 1;
}
.bb2-01 {
    border-bottom: solid 2px var(--grey30);
  }
  
  .bb2Off-01 {
    border-bottom: solid 2px transparent;
  }
  @media (min-width: 1301px) and (max-width: 1700px) {
    .w22p-01 {
      width: 22%;
    }
  }
  .navbarGradient-01 {
    background: linear-gradient(
      to bottom,
      hsl(0, 0%, 5%) 0%,
      rgba(0, 0, 0, 0.35) 59%,
      transparent 100%
    );
  }
  .container-01 {
    animation: showUp-01 2s ease-in-out;
  }
  
  .spinnerBase-01 {
    margin-top: 50px;
    width: 1px;
    height: 1px;
    background-color: white;
    border-radius: 50%;
    animation: load-01 1s infinite ease-in-out;
  }
  .spinner-01 {
    box-shadow: 0 0 50px 50px white;
  }
  .miniSpinner-01 {
    box-shadow: 0 0 15px 15px white;
  }
  
  @keyframes load-01 {
    0% {
      transform: scale(0);
      opacity: 1;
    }
  
    100% {
      transform: scale(0.65);
      opacity: 0;
    }
  }
  @keyframes showUp-01 {
    0% {
      opacity: 0;
    }
  
    33% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  .hoverLabel-01:hover text {
    opacity: 1;
  }
  
  .hoverLabel-01:hover circle {
    stroke-width: 5;
  }
  @media (max-width: 1300px) {
    .resizableContainer-01 {
      flex-direction: column !important;
      overflow: none;
    }
  
    .leftPanel-01,
    .rightPanel-01 {
      border-top: solid 2px var(--grey90);
    }
  
    .leftPanel-01,
    .rightPanel-01 {
      height: 50%;
      width: 100% !important;
      overflow: none;
    }
  
  }
  
  .headerPanel-01 {
    font-size: 0.7rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .resizableContainer-01 {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .leftPanel-01 {
    flex: auto;
    overflow: auto;
  }
  
  .separator-01 {
    background-color: var(--grey90);
    top: 0;
    bottom: 0;
    &:hover {
      background-color: var(--grey85);
    }
  }
  
  .rightPanel-01 {
    overflow: auto;
  }
  #contentHidden-01 > *:not(#verificationCode-01) {
    display: none !important;
  }
  
  #contentDisplay-01 {
    display: block;
  }
  
  #verificationCode-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #verificationCode-01 > div {
    font-family: 'IBM Plex Mono';
    color: var(--yellow);
    font-size: 0.85rem;
    margin: 1rem 0 2rem 0;
    line-height: 1.4rem;
    width: 55%;
  }
  
  #verificationCode-01 > input {
    background: none;
    width: 45%;
    height: 4rem;
    outline: none;
    border: solid 1px var(--grey60);
    font-size: 2.25rem;
    font-weight: 300;
    text-align: center;
    color: var(--grey10);
  }
  
  #verificationCode-01 > span {
    font-family: 'IBM Plex Mono';
    font-size: 0.75rem;
    text-align: center;
    color: var(--red);
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .auditQuestion-01 {
    width: calc(100% - 200px);
    font-size: 1.2rem;
    font-weight: 300;
    margin: 10px 0 2.5rem 0;
  }
  
  .auditSectionHeader-01 {
    font-size: 3rem;
    font-weight: 300;
    font-family: 'IBM Plex Mono', monospace;
    margin: 1rem 0 3rem 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .auditSectionHeader-01:before {
    content: '— ';
  }
  
  .auditInstruction-01 {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
    color: var(--neutral);
    border-bottom: solid 1px var(--neutral);
    padding-bottom: 7px;
    margin-bottom: 10px;
  }
  
  .markdown-body code {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 0.85rem;
    color: var(--white);
    background: var(--black);
    font-weight: 300;
    border-radius: 4px;
    padding: 5px 8px;
  }
  
  .auditInstruction-01 > code,
  .auditQuestion-01 > code {
    background: var(--black) !important;
    margin: 0 5px;
    font-weight: 500 !important;
    line-height: 1.45rem;
    padding: 2px var(--px1);
  }
  
  .markdown-body pre > code {
    width: 100%;
    display: block;
    border-radius: 4px;
    padding: 1rem 1.15rem;
    overflow-x: auto;
  }
  
  .auditBonus-01 {
    color: var(--purple);
    border: solid 1px var(--purple);
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 0.15rem 0.5rem;
    margin-left: 1.5rem;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 3px;
  }
  
  .auditInputs-01 {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 300;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .auditInputs-01.shifted-01 {
    position: absolute;
    margin-top: -20px;
    right: 2rem;
  }
  
  .auditInputs-01 > div {
    margin-left: 25px;
    display: flex;
    align-items: center;
  }
  
  .auditInputs-01 > div > label {
    margin-right: 10px;
    letter-spacing: 2px;
  }
  
  .auditInputs-01 .checkInput-01,
  .auditInputs-01 .boxInput-01 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: solid 1px var(--neutral);
    transition: border 0.15s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
  }
  .auditInputs-01 .boxInput-01 {
    border-radius: 10%;
  }
  
  .auditInputs-01 .checkInput-01:checked,
  .auditInputs-01 .checkInput-01:hover,
  .auditInputs-01 .boxInput-01:checked,
  .auditInputs-01 .boxInput-01:hover {
    border: solid 1px var(--purple);
    transition: border 0.15s ease-in-out;
  }
  
  .auditInputs-01 .checkedDot-01 {
    background-color: none;
    transition: background-color 0.15s ease-in-out;
    width: 4px;
    height: 4px;
    position: absolute;
    outline: 0;
    pointer-events: none;
    border-radius: 50%;
    right: 7px;
  }
  
  .auditInputs-01 .checkInput-01:checked + .checkedDot-01,
  .auditInputs-01 .boxInput-01:checked + .checkedDot-01 {
    background-color: var(--purpleFill);
    transition: background-color 0.15s ease-in-out;
  }
  
  .auditInputs-01 .checkInput-01:disabled {
    cursor: default;
    border: solid 1px var(--neutral);
  }
  
  .auditTextArea-01 {
    width: 100%;
    height: 6.25rem;
    background: transparent;
    color: var(--white);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    border: solid 1px var(--neutral);
    margin-top: 2rem;
    padding: 0.75rem 1rem;
    line-height: 1.5rem;
  }
  
  .auditTextArea-01::placeholder {
    color: var(--neutral);
  }
  
  .auditTextArea-01:focus,
  .auditTextArea-01:focus-within {
    background: none;
    border-color: var(--neutralAlt);
  }
  
  .justificationWarning-01 {
    color: var(--red);
    margin: 0.75rem 0 3rem 0;
  }
  
  .submitWarning-01 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.8rem;
    color: var(--red);
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 0;
    font-weight: 300;
    display: block;
    height: 20px;
  }
  
  .auditSubmitBtn-01 {
    width: 100%;
    background: var(--greyFill);
    color: var(--white);
    padding: 0.8rem;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.85rem;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 1.5rem;
    transition: background ease-in-out 0.2s;
  }
  
  .auditSubmitBtnApproved-01 {
    background: var(--tealFill);
  }
  .auditSubmitBtnApproved-01:hover {
    background: var(--tealFillAlt);
  }
  
  .auditSubmitBtnFailed-01 {
    background: var(--redFill);
  }
  .auditSubmitBtnFailed-01:hover {
    background: var(--redFillAlt);
  }
  
  .auditSubmitBtn-01:disabled {
    opacity: 0.25;
    pointer-events: none;
  }
  
  .allHidden-01 ~ *:not(button):not(.submitWarning-01) {
    display: none !important;
  }
  
  .auditFeedback-01 code {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0;
    background: var(--black);
    padding: 0.15rem 0.35rem;
    border-radius: 2px;
    width: 100%;
  }
  
  .auditFeedback-01 h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.85rem;
    font-weight: 300;
    margin: 0 0 0.75rem 0;
    color: var(--grey50);
  }
  
  .auditFeedback-01 h5 > code {
    color: var(--grey10);
    background: var(--grey70);
    margin: 0 0.5rem;
  }
  
  .auditFeedback-01 h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0 0 1.3rem 0;
  }
  
  .auditFeedback-01 p code {
    margin: 0 0 0.5rem 0;
    display: flex;
  }
  
  .auditFeedback-01 p {
    margin: 0;
  }
  
  .auditFeedbackTitle-01 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    color: var(--white);
    letter-spacing: 1px;
    border-bottom: solid 1px var(--white);
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
    font-size: 0.8rem;
  }
  
  .auditSection-01 {
    padding: 1rem 2rem 2rem 2rem;
    background-color: var(--bgLevel2);
    margin-bottom: 2rem;
    position: relative;
  }
.hoverBtn-01:hover button {
    border-color: var(--purpleAlt);
    color: var(--purpleAlt);
  }
  
  .hoverBtn-01 button {
    border-bottom: 1px solid transparent;
  }
  
  .focusDarkBg-01:focus {
    background: var(--black);
  }
  
  .focusWhiteBg-01:focus {
    background: var(--white);
  }
  
  .focusWhite-01:focus {
    color: var(--white);
    border-bottom-color: var(--white);
  }
  
  .hoverBbPurple-01 {
    border-bottom: 1px solid transparent;
  }
  
  .hoverBbPurple-01:hover {
    border-color: var(--purpleAlt);
  }
  
  @media (max-width: 1000px) {
    .hoverBtn-01 button {
      border-bottom: 1px solid var(--purple);
    }
  }
.smooth-dnd-container{position:relative;min-height:30px;min-width:30px;}.smooth-dnd-container.horizontal{display:table;}.smooth-dnd-container.horizontal > .smooth-dnd-stretcher-element{display:inline-block;}.smooth-dnd-container.horizontal > .smooth-dnd-draggable-wrapper{height:100%;display:table-cell;vertical-align:top;}.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper{overflow:hidden;display:block;}.smooth-dnd-draggable-wrapper{box-sizing:border-box;}.smooth-dnd-draggable-wrapper.horizontal{height:100%;display:table-cell;vertical-align:top;}.smooth-dnd-draggable-wrapper.vertical{overflow:hidden;display:block;}.smooth-dnd-draggable-wrapper.animated{transition:transform ease;}.smooth-dnd-ghost{box-sizing:border-box;}.smooth-dnd-ghost.animated{transition:all ease-in-out;}.smooth-dnd-ghost *{pointer-events:none;}.smooth-dnd-disable-touch-action *{touch-action:none;-ms-touch-action:none;}.smooth-dnd-no-user-select{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}.smooth-dnd-drop-preview-inner-class{flex:1;}.smooth-dnd-container.horizontal > .smooth-dnd-drop-preview-constant-class{height:100%;overflow:hidden;display:table-cell;vertical-align:top;}.smooth-dnd-container.vertical > .smooth-dnd-drop-preview-constant-class{overflow:hidden;display:block;width:100%;}.smooth-dnd-drop-preview-flex-container-class{width:100%;height:100%;display:flex;justify-content:stretch;align-items:stretch;}.smooth-dnd-drop-preview-default-class{background-color:rgba(150, 150, 150, 0.1);border:1px solid #ccc;}
.quarterBorder-01:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 25%;
    background: rgba(255, 255, 255, 0.1);
  }
  
  div:last-child > .quarterBorder-01:after {
    width: 0px;
    height: 0%;
  }
  
  .colorShades-01 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    display: grid;
    gap: 30px;
  }
  
  @media (max-width: 1200px) {
    .colorShades-01 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media (max-width: 700px) {
    .colorShades-01 {
      grid-template-columns: 1fr;
    }
  }
.quarterBorder-01:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 25%;
    background: rgba(255, 255, 255, 0.1);
  }
  
  div:last-child > .quarterBorder-01:after {
    width: 0px;
    height: 0%;
  }
  
  .colorShades-01 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    display: grid;
    gap: 30px;
  }
  
  @media (max-width: 1200px) {
    .colorShades-01 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media (max-width: 700px) {
    .colorShades-01 {
      grid-template-columns: 1fr;
    }
  }